# Create an app at https://developer.spotify.com/dashboard
# Add http://127.0.0.1:8888/callback as a Redirect URI (on the LAPTOP).
SPOTIPY_CLIENT_ID=
SPOTIPY_CLIENT_SECRET=
SPOTIPY_REDIRECT_URI=http://127.0.0.1:8888/callback
PORT=8080
ENABLE_LYRICS=1
